* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/imagem\ de\ fundo.png'); 
  background-size: cover;      
  background-position: center;  
  background-repeat: no-repeat;
  background-attachment: fixed; 
  color: #fff;                 
  font-family: 'Segoe UI', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin: 10px 30px;
}

nav a {
  margin-left: 12px;
}

nav img {
  width: 50px;
  height: 50px;
  filter: brightness(0) invert(1);
  transition: transform 0.2s ease;
}

nav img:hover {
  transform: scale(1.3);
  box-shadow: 0 0 15px #095c58;
  border-radius: 100%;
  border: 2px solid #095c58;
}


.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

#hero {
  text-align: center;
  margin: 10px 0 30px 0;
}

#hero h1 {
  font-size: 2em;
  margin-bottom: 20px;
  background: linear-gradient(
    200deg,
    #00f5a0, 
    #00d9f5, 
    #0088ff, 
    #2be2ba, 
    #9787f0, 
    #ff8c00  
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
  background: linear-gradient(
    135deg,
    #00f5a0, 
    #00d9f5, 
    #0088ff, 
    #2be2ba, 
    #9787f0, 
    #ff8c00   
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


.cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  max-width: calc((280px * 2) + 20px); 
  margin-left: auto;
  margin-right: auto;
  
}

.card {
  width: 280px;
  height: 180px;
  background: #1e1e1e;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 255, 209, 0.149);
  perspective: 1000px;
  transform-style: preserve-3d;
  opacity: 0;
  transform: translateY(2rem);
  animation: appear 1s forwards;
  transition:
    transform .3s ease,
    box-shadow .3s ease,
    border .3s ease;   
      
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card:hover {
  transform: translateY(-15px) scale(1.08);
  border: 2px solid #095c58;
  box-shadow:
    0 0 12px #095c58,
    0 0 24px #095c58,
    0 8px 16px rgba(0, 0, 0, .3);  
}

.card-content {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  text-align: center;
}


@media (max-width: 600px) {
  .cards-container {
    max-width: 100%; 
  }
  .card {
    width: 100%; 
    max-width: none;
  }
}


.card-content h3 {
  font-size: 2.5em;
  margin-bottom: 10px;
  background: linear-gradient(135deg, #00f5a0, 
    #00d9f5, 
    #0088ff, 
    #2be2ba, 
    #9787f0, 
    #ff8c00 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
   white-space: nowrap;
  overflow: hidden;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.3s ease;
}

.card-link:hover .card {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 255, 209, 0.4);
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 60px;
  font-size: 0.9em;
  color: #666;
}

.projetos-h1,
.minhas-habilidades{
   font-size: 2.8em;
  margin-bottom: 25px;
  color: #00ffd5;
}

.projeto-container {
  background: #1e1e1e;
   border: 2px solid #095c58;
  border-radius: 12px;
  padding: 20px;
  margin: 24px 0;
  box-shadow: 0 6px 12px rgba(0, 255, 209, 0.15);
  color: #eee;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  opacity: 0;
  transform: translateY(2rem);
  animation: appear 1s forwards;
  max-width: 900px;
}

.projeto-container:hover {
  transform: translateY(-8px) scale(1.05);
  border: 2px solid #095c58;
  box-shadow: 0 0 12px #095c58, 0 0 24px #095c58;
  
}

.projeto-container h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #00ffd5;
}

.projeto-container p {
  margin: 12px 0;
  line-height: 1.6;
}

.projeto-container a {
  color: #00ffd5;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.projeto-container a:hover {
  color: #ffffff;
  text-shadow: 0 0 6px #00ffd5;
}

/* .sobre-container {
  background: #1e1e1e;
  border: 2px solid #095c58;
  border-radius: 12px;
  padding: 30px;
  margin: 40px auto;
  max-width: 1000px;
  
  box-shadow: 0 6px 12px rgba(0, 255, 209, 0.15);
  color: #ddd;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  opacity: 0;
  transform: translateY(2rem);
  animation: appear 1s forwards;
} */

/* .sobre-container:hover {
  transform: translateY(-8px) scale(1.03);
  border: 2px solid #00ffd5;
  box-shadow: 0 0 12px #00ffd5, 0 0 24px #00ffd5;
} */

.sobre-container h1 {
  text-align: center;
  font-size: 2.8em;
  margin-bottom: 25px;
  color: #00ffd5;
}

.sobre-container p {
  margin-bottom: 18px;
  line-height: 1.7;
  font-weight: 400;
  font-size: 1.5em;
  margin: auto;
  max-width: 55em; 
}

.sobre-container strong {
  color: #00ffd5;
  font-weight: bold;
}

.Voltar {
 font-size: 1.5em;
  width: 30px;
  height: 30px;
  margin: 20px 20px;
  
}

.tech-icons {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  align-items: center;
}

.tech-icons img {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
}

.tech-icons img:hover {
  transform: scale(1.2);
}

#habilidades {
  background: #1e1e1e;
  border: 2px solid #095c58;
  border-radius: 12px;
  padding: 50px;
  margin: 70px 0;
  box-shadow: 0 6px 12px rgba(0, 255, 209, 0.15);
  color: #eee;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  opacity: 0;
  transform: translateY(2rem);
  animation: appear 1s forwards;
  width: 90%;
  min-height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 40px;
    }

.skill {
      margin-bottom: 25px;
      background: rgba(255, 255, 255, 0.05);
      padding: 10px;
      border-radius: 10px;
       transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
    }

.skill:hover {

  transform: translateY(-6px); 
  box-shadow: 0 12px 20px rgba(0, 255, 209, 0.3);

}
   
.skill-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
.skill-icon {
      width: 30px;
      height: 30px;
    }
    
.skill-name {
      flex: 1;
      margin-left: 10px;
      font-weight: bold;
    }

    .skill-level {
      font-size: 14px;
      color: #0d8882;
    }
    
    .skill-bar {
      background-color: #333;
      border-radius: 8px;
      overflow: hidden;
      height: 12px;
      margin-top: 8px;
    }
    
    .skill-progress {
      height: 100%;
       background: linear-gradient(135deg, #00f5a0, 
    #00d9f5, 
    #0088ff, 
    #2be2ba, 
    #9787f0, 
    #077736 );
      width: 0%;
      transition: width 1s ease;
    }
    
    .skill-xp {
      font-size: 12px;
      color: #0d8882;
    }